body {
    font-family: Arial, Helvetica, sans-serif;
    background-color: aqua;
    text-align: center;
}

h1 {
    color:red;
}

p {
    font-size: 18px;
}

table {
    margin: 0 auto;
    border-collapse: collapse;
    width: 60%;/
}

th, td {
    border: 1px solid black;
    padding: 8px;
    text-align: center;
}

.container {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr; /* 3 equal columns */
    grid-template-rows: auto;
    gap: 10px; /* Space between grid items */
    padding: 20px;
}

.item {
    background-color: lightblue;
    padding: 20px;
    text-align: center;
    border: 1px solid #000;
}